@import url(/Sass/cssreload.css);
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
body {
  background-color: #fafafa;
  font-family: "Epilogue";
  font-size: 1.1rem;
}

.capa {
  background-color: hsl(0, 0%, 8%);
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  position: absolute;
  display: none;
  top: -10px;
}

.nav_container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.nav_container .logo {
  width: auto;
  height: 100%;
}
.nav_container .menu {
  width: 30px;
  height: 20px;
}
.nav_container .secciones {
  height: 100vh;
  max-width: 450px;
  min-width: 250px;
  padding: 25px;
  display: none;
  flex-direction: column;
  position: relative;
  top: -25px;
  right: -12px;
  background-color: hsl(0, 0%, 98%);
}
.nav_container .secciones .menu_close {
  width: 30px;
  position: relative;
  left: 170px;
  margin-bottom: 40px;
}
.nav_container .secciones .menu_list {
  list-style: none;
}
.nav_container .secciones .menu_list li {
  padding: 20px 0;
}
.nav_container .secciones a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
.nav_container .secciones a:hover {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}
.nav_container .secciones .features_list .features_up {
  display: none;
  padding-left: 10px;
  width: 15px;
  height: 20px;
}
.nav_container .secciones .features_list .features_down {
  padding-left: 10px;
}
.nav_container .secciones .features_list .features_down:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
}
.nav_container .secciones .features_list .features_up:hover {
  cursor: pointer;
}
.nav_container .secciones .features_list .features_list_sub {
  display: none;
  padding: 20px;
  list-style: none;
  text-align: left;
}
.nav_container .secciones .features_list .features_list_sub .iconos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 23px;
  margin-top: 10px;
  width: 25px;
}
.nav_container .secciones .features_list .features_list_sub .listaIconos {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}
.nav_container .secciones .features_list .features_list_sub li {
  padding: 12px;
}
.nav_container .secciones .features_list .features_list_sub li .icon_list {
  width: 20px;
}
.nav_container .secciones .features_list .features_list_sub li a {
  padding: 20px;
  margin-bottom: 10px;
}
.nav_container .secciones .features_list .features_list_sub li .td, .nav_container .secciones .features_list .features_list_sub li .calendar {
  padding: 14px;
}
.nav_container .secciones .company_list .company_up {
  display: none;
  padding-left: 10px;
  width: 15px;
  height: 10px;
  transition: 0.4ms;
  transition: all 0.5ms;
}
.nav_container .secciones .company_list .company_up:hover {
  cursor: pointer;
}
.nav_container .secciones .company_list .company_down {
  padding-left: 10px;
  transition: 0.4ms;
}
.nav_container .secciones .company_list .company_down:hover {
  cursor: pointer;
}
.nav_container .secciones .company_list .company_list_sub {
  display: none;
  flex-direction: column;
  padding: 20px;
  list-style: none;
  text-align: left;
}
.nav_container .secciones .company_list .company_list_sub li {
  padding: 15px 20px;
}
.nav_container .secciones .login {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.nav_container .secciones .login button {
  background-color: transparent;
  border-style: none;
  padding: 10px 0;
  color: hsl(0, 0%, 41%);
  font-family: "Epilogue";
  font-size: 1.1rem;
}
.nav_container .secciones .login button:hover {
  cursor: pointer;
}
.nav_container .secciones .login .register_btn {
  margin-top: 10px;
  border: 2px solid gray;
  border-radius: 10px;
}
.nav_container .secciones .login .register_btn:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
}

.main_container {
  margin: 0 auto;
}
.main_container .imagen_principal {
  margin-top: 20px;
  margin-bottom: 40px;
}
.main_container .imagen_principal .img_desktop {
  display: none;
}
.main_container .imagen_principal .img_mobile {
  width: 100vw;
  height: 280px;
}
.main_container .primera_seccion {
  text-align: center;
}
.main_container .primera_seccion .title {
  font-size: 2.1rem;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  margin-bottom: 20px;
}
.main_container .primera_seccion .txt {
  font-size: 1rem;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
  line-height: 1.5;
  margin: 0 20px;
  margin-bottom: 20px;
}
.main_container .primera_seccion .learn_btn {
  font-size: 1rem;
  font-family: "Epilogue";
  padding: 14px 20px;
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  border-style: none;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
}
.main_container .primera_seccion .learn_btn:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
  border: 2px solid gray;
}
.main_container .primera_seccion .clientes {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: 20px 0;
  margin-bottom: 70px;
}
.main_container .primera_seccion .clientes img {
  width: 60px;
  height: 100%;
}
.main_container .primera_seccion .clientes .audiophile {
  width: 40px;
}

footer {
  display: none;
}

@media screen and (min-width: 720px) {
  .nav_container {
    width: 100vw;
    align-items: center;
  }
  .nav_container .logo {
    margin-top: 5px;
  }
  .nav_container .menu {
    margin-top: 0;
    display: none;
  }
  .nav_container .secciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    background-color: none;
    max-width: 2000px;
    width: 100%;
    flex-direction: row;
    height: 100%;
    padding: 0;
  }
  .nav_container .secciones .menu_close {
    display: none;
  }
  .nav_container .secciones .menu_list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    width: 100%;
    margin-left: 40px;
    margin-top: 0px;
  }
  .nav_container .secciones .menu_list .features_list {
    display: flex;
    align-items: center;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub {
    display: none;
    flex-direction: row;
    width: 130px;
    height: 150px;
    padding: 20px;
    padding-left: 30px;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 100px;
    background-color: hsl(0, 0%, 98%);
    border-radius: 10px;
    box-shadow: 0 0 15px 2px hsla(0, 0%, 41%, 0.2);
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub .iconos {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 0;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub .listaIconos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub li {
    padding: 2px;
    text-align: left;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub li .icon_list {
    width: 15px;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub li .icon-3 {
    margin-left: 0px;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub li a {
    padding-left: 10px;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub li .reminders {
    padding-left: 10px;
  }
  .nav_container .secciones .menu_list .features_list .features_down {
    width: 22px;
    height: 12px;
  }
  .nav_container .secciones .menu_list .features_list .features_up {
    width: 22px;
    height: 12px;
  }
  .nav_container .secciones .menu_list .company_list {
    display: flex;
    align-items: center;
  }
  .nav_container .secciones .menu_list .company_list .company_down {
    width: 22px;
    height: 12px;
  }
  .nav_container .secciones .menu_list .company_list .company_up {
    width: 22px;
    height: 12px;
  }
  .nav_container .secciones .menu_list .company_list .company_list_sub {
    display: none;
    flex-direction: column;
    width: 120px;
    padding: 5px;
    font-size: 0.8rem;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 80px;
    left: 280px;
    background-color: hsl(0, 0%, 98%);
    border-radius: 10px;
    box-shadow: 0 0 15px 2px hsla(0, 0%, 41%, 0.2);
  }
  .nav_container .secciones .login {
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-top: 0;
    margin-right: 20px;
    gap: 10px;
    align-items: center;
  }
  .nav_container .secciones .login button {
    padding: 10px 20px;
  }
  .nav_container .secciones .login .register_btn {
    margin-top: 0;
  }
  .main_container {
    margin: 0 40px;
    width: 700px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
  }
  .main_container .imagen_principal .img_desktop {
    display: inline-block;
    width: 300px;
  }
  .main_container .imagen_principal .img_mobile {
    display: none;
  }
  .main_container .primera_seccion {
    margin-top: 100px;
    text-align: left;
    width: 300px;
  }
  .main_container .primera_seccion .title {
    font-size: 2.4rem;
    padding-right: 40px;
  }
  .main_container .primera_seccion .txt {
    margin: 0;
    margin-bottom: 40px;
    font-size: 0.8rem;
    padding-right: 0px;
  }
  .main_container .primera_seccion .learn_btn {
    font-size: 0.8rem;
  }
  .main_container .primera_seccion .clientes {
    margin-top: 70px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1020px) {
  .main_container {
    margin: 0 100px;
    width: 1000px;
    justify-content: space-between;
  }
  .main_container .imagen_principal .img_desktop {
    width: 350px;
    margin-right: 200px;
  }
  .main_container .primera_seccion {
    width: 450px;
  }
  .main_container .primera_seccion .clientes {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .nav_container {
    width: 90%;
    margin-left: 60px;
  }
  .nav_container .secciones .menu_list {
    justify-content: flex-start;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub {
    left: 180px;
  }
  .nav_container .secciones .menu_list .company_list .company_list_sub {
    left: 340px;
  }
  .main_container {
    width: 1150px;
    margin-left: 200px;
  }
  .main_container .imagen_principal .img_desktop {
    margin-top: 40px;
    width: 500px;
    height: 600px;
  }
  .main_container .primera_seccion {
    margin-top: 150px;
    width: 500px;
  }
  .main_container .primera_seccion .title {
    font-size: 3rem;
    padding-right: 25px;
  }
  .main_container .primera_seccion .learn_btn {
    font-size: 1rem;
  }
  .main_container .primera_seccion .clientes {
    margin-top: 120px;
    gap: 20px;
  }
  .main_container .primera_seccion .clientes img {
    width: 90px;
  }
}
@media screen and (min-width: 1400px) {
  .nav_container {
    margin-top: 30px;
  }
  .nav_container .secciones .menu_list {
    justify-content: flex-start;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub {
    top: 120px;
    left: 150px;
    width: 160px;
    height: 180px;
    font-size: 1rem;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub .iconos {
    gap: 15px;
  }
  .nav_container .secciones .menu_list .features_list .features_list_sub .listaIconos {
    gap: 12px;
  }
  .nav_container .secciones .menu_list .company_list .company_list_sub {
    top: 120px;
    width: 140px;
    font-size: 1rem;
  }
  .main_container {
    width: 1200px;
    gap: 0px;
    margin-left: 120px;
  }
  .main_container .imagen_principal .img_desktop {
    width: 580px;
    height: 650px;
    margin-right: 50px;
    margin-top: 75px;
  }
  .main_container .primera_seccion {
    width: 500px;
    margin-top: 200px;
  }
  .main_container .primera_seccion .title {
    font-size: 4rem;
    padding-right: 70px;
    margin-bottom: 50px;
  }
  .main_container .primera_seccion .txt {
    font-size: 1rem;
    padding-right: 100px;
    margin-bottom: 50px;
  }
  .main_container .primera_seccion .learn_btn {
    font-size: 1.1rem;
  }
  .main_container .primera_seccion .clientes {
    justify-content: flex-start;
  }
  .main_container .primera_seccion .clientes img {
    width: 100px;
  }
}/*# sourceMappingURL=style.css.map */